@{
    ViewData["Title"] = "cAp corporation";
}

<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="d-flex flex-column bd-highlight mb-3">
            <a class="p-2 bd-highlight btn btn-outline-dark rounded" href="#"><h4>Werbung 1</h4>L<br />weitere Infos über dieses Unternehmen</a><br />
            <a class="p-2 bd-highlight btn btn-outline-dark rounded" href="#"><h4>Werbung 2</h4>L<br />weitere Infos über dieses Unternehmen</a><br />
            <a class="p-2 bd-highlight btn btn-outline-dark rounded" href="#"><h4>Werbung 3</h4>L<br />weitere Infos über dieses Unternehmen</a><br />
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-4">
        <div class="text-center">

            <p img src="~/images/capcorporation.png" class="img-fluid" alt="cAp corporation Logo" /></p>
            <div class="bg-light shadow rounded">
                <h1 class="display-4">Willkommen auf <strong>cAp corporation</strong></h1><br />
                <div class="border rounded" style="padding-bottom:2%">
                    <h2 class="bg-dark" style="padding-left:60%; color:white"><strong>IT Solutions</strong></h2>
                </div>
            </div>

            <br />
            <br />

            <h2>Weitere Lerninhalte findest Du auf : <a href="https://docs.microsoft.com/aspnet/core" target="_blank">   Web Apps entwickeln mit ASP.NET Core</a></h2>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="d-flex flex-column bd-highlight mb-3">
            <a class="p-2 bd-highlight btn btn-outline-dark rounded" href="#"><h4>Werbung 1</h4>R<br />weitere Infos über dieses Unternehmen</a><br />
            <div  class="p-2 bd-highlight btn btn-outline-dark rounded shadow" style="box-shadow: 0 0 .5rem 4px rgba(0,0,0,.15) !important;">
                <a href="https://www.asario.de" target="_blank">
                        <img src="images/asarios-blog.jpg" style="margin-bottom: 7px;" class="rounded">
                </a>
                
                <a href="https://www.marblefx.de" target="_blank" >
                    <img src="images/marblefx.png" class="rounded"/>
                </a>
             </div>
        </div>
    </div>
</div>

<div class="d-flex p-2 bd-highlight btn btn-outline-dark rounded"><h4>Werbung 1</h4>M<br />weitere Infos über dieses Unternehmen</div>
