@{
    ViewData["Title"] = "cAp corporation";
}



<div class="text-center">
    
        <p img src="~/images/capcorporation.png" class="img-fluid" alt="cAp corporation Logo" /></p>
    <div class="bg-light shadow rounded">
        <h1 class="display-4">Willkommen auf <strong>cAp corporation</strong></h1><br />
           <div class="border rounded" style="padding-bottom:2%"> 
            <h2 class="bg-dark" style="padding-left:60%; color:white"><strong>IT Solutions</strong></h2>
        </div>
      </div>
      
    <br />
        <br />

    <h2>Weitere Lerninhalte findest Du auf : <a href="https://docs.microsoft.com/aspnet/core" target="_blank">   Web Apps entwickeln mit ASP.NET Core</a></h2>
        </div>   