@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "";
}

@{
    ViewData["Title"] = "cAp corporation";
}

<html>

<head>

    <title>@ViewData["Title"] - cAp.Net Demo Page</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/cApNetDemoPage.styles.css" asp-append-version="true" />

</head>

<body style="margin:auto; padding: 0">
    <button type="button" class="btn-outline-warning btn-lg rounded" style="z-index:10;position:absolute;right:20px;bottom:20px;" OnClick="location.href='/Home';">START</button>
        <video autoplay muted style="width: 100%; height: 100%; display: block; margin: 0 auto; object-fit: cover;">
             <source src="~/video/transport_-_23232%20(original).mp4" type="video/mp4"/>
              </video>
                 

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
    </html>