html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 40px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.right {
    display: block;
    margin-left: auto;
    margin-right: 0;
}
     
.toggle-container {
    position: fixed;
    top: 7px;
    right: 50px;
    cursor: pointer;
}

/* Enter Button */

.button-container  {
    position: relative;
    margin: 0 auto;
}

.button-box {
    z-index: 1;
}

/* dark mode */

/* social icons */

.social-wrapper {
    display:inline-block; 
}

.social-wrapper i {
    color: #171717;
    cursor: pointer;
    transition: all ease-in-out 150ms;
    text-shadow: 0px 7px 10px rgba(0, 0, 0, 0.7);
}

.social-wrapper i:hover {
     margin-top: -2px;
     transform: translate(0, -8);
}

/* normal */

#microsoft {
    padding-left: 20px;
    color: #808080;
}

#x-twitter {
    padding-left: 40px;
    color: #808080;
}

#github {
    padding-left: 40px;
    color: #808080;
}

#xbox {
    padding-left: 40px;
    color: #808080;
}

#applepay {
    padding-left: 30px;
    color: #808080;
}

#gpay {
    padding-left: 40px;
    color: #808080;
}

#paypal {
    padding-left: 40px;
    color: #808080;
}

#mastercard {
    padding-left: 40px;
    color: #808080;
}

#visa {
    padding-left: 40px;
    color: #808080;
}

#spotify {
    padding-left: 40px;
    color: #808080;
}

#youtube {
    padding-left: 40px;
    color: #808080;
}

#telegram {
    padding-left: 40px;
    color: #808080;
}

#email {
    padding-left: 40px;
    color: #808080;
}

/* hover */

#microsoft:hover {
    color: #258cfb;
    transition: 0.4s;
}

#x-twitter:hover {
    color: #003087;
    transition: 0.4s;
}

#github:hover {
    color: #000000;
    transition: 0.4s;
}

#xbox:hover {
    color: #107c10;
    transition: 0.4s;
}

#gpay:hover {
    color: #c9510c;
    transition: 0.4s;
}

#applepay:hover {
    color: #ffd800;
    transition: 0.4s;
}

#paypal:hover {
    color: #003087;
    transition: 0.4s;
}

#mastercard:hover {
    color: #ff6a00;
    transition: 0.4s;
}

#visa:hover {
    color: #003399;
    transition: 0.4s;
}

#spotify :hover {
    color: #4cff00;
    transition: 0.4s;
}

#youtube:hover {
    color: #FF0000;
    transition: 0.4s;
}

#telegram:hover {
    color: #0088cc;
    transition: 0.4s;
}

#email:hover {
    color: #b200ff;
    transition: 0.4s;
}
#myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: relative;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}