@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Konten</h1>

@{

}

<div class="table-responsive-lg">
    <table class="bg-dark table-striped table">
        <thead class="thead-warning table-dark">
            <tr>
                <th scope="col">Vorname</th>
                <th scope="col">Nachname</th>
                <th scope="col">Benutzername</th>
                <th scope="col">Email Adresse</th>
                <th scope="col">Geburtsdatum</th>
                <th scope="col">Telefonnummer</th>
                <th scope="col">Adresse</th>
                <th scope="col">PLZ</th>
                <th scope="col">Ort</th>
                <th scope="col">Land</th>
                <th scope="col">Funktion</th>
            </tr>
        </thead>

        <tbody class="table-dark table-striped">
            <tr>
                <td scope="rowl">Konto.Vorname</td>
                <td>Konto.Nachname</td>
                <td>Konto.Benutzername</td>
                <td>Konto.Email</td>
                <td>Konto.Geburtsdatum</td>
                <td>Konto.Telefonnummer</td>
                <td>Konto.Adresse</td>
                <td>Konto.PLZ</td>
                <td>Konto.Ort</td>
                <td>Konto.Land</td>
                <td>Konto.Funktion</td>
            </tr>
            <tr>
                <td scope="row">Konto.Vorname</td>
                <td>Konto.Nachname</td>
                <td>Konto.Benutzername</td>
                <td>Konto.Email</td>
                <td>Konto.Geburtsdatum</td>
                <td>Konto.Telefonnummer</td>
                <td>Konto.Adresse</td>
                <td>Konto.PLZ</td>
                <td>Konto.Ort</td>
                <td>Konto.Land</td>
                <td>Konto.Funktion</td>
            </tr>
        </tbody>
        </table>
            </div>
