@{
}

<br />
<br />

<h1 style="text-align:center"><strong>Galerie</strong></h1>

<br />
<br />

<h2 style="text-align:right">2024</h2>

<h5 style="text-align:right">Februar</h5>

<br />
<br />

<div class="box-shadow rounded">
    <div class="col-lg-4 col-md-12 mb-4 center">
        <div class="card bg-dark text-white" style="max-width: 600px;">
            <img src="~/google photos/2024/februar/img_20240206_044825.jpg" class="img-fluid rounded card-img" alt="Auf St. Pauli in einer meiner Stammkneipen auf dem Kiez Der goldene Handschuh" />
            <div class="card-img-overlay text-shadow" style="background-color: rgba(0, 0, 0, 0.3)">
                <span class="bg-dark rounded shadow box-shadow text-white">
                    <h4 class="card-title text-shadow"><span class="bg-dark rounded shadow box-shadow text-white" style="background-color: rgba(0, 0, 0, 0.5) !important;padding-right:13px;padding-bottom:4px;">Die Kult-Kneipe auf dem Kiez</span></h4> <br /> <p><span style="background-color: rgba(0, 0, 0, 0.5) !important; padding-right:5px;padding-left:5px;padding-bottom: 3px;" class="bg-dark rounded shadow box-shadow text-white">Der goldene Handschuh</span></p>

            </div>
        </div>
    </div>
</div>
<br />

<h5 style="text-align:right">Januar</h5>

<br />
<br />

<div class="row">
    <div class="col">
        <br />
        <div class="box-shadow rounded">
        </div><div class="col-lg-4 col-md-12 mb-4 center">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2024/januar/img_20240127_113013.jpg" class="img-fluid rounded card-img" alt="U-Bahnhof Schlump" />
                <div class="card-img-overlay text-shadow" style="background-color: rgba(0, 0, 0, 0.3)">
                    <span class="bg-dark rounded shadow box-shadow text-white">
                        <h4 class="card-title text-shadow"><span class="bg-dark rounded shadow box-shadow text-white" style="background-color: rgba(0, 0, 0, 0.5) !important;padding-right:13px;padding-bottom:4px;">Am U-Bahnhof Schlump</span></h4>
                        <br /> <p><span style="background-color: rgba(0, 0, 0, 0.5) !important; padding-right:5px;padding-left:5px;padding-bottom: 3px;" class="bg-dark rounded shadow box-shadow text-white">Achtet mal auf die Anzeigetafel f&uuml;r den n&auml;chsten Zug ! <br />Ja was stimmt denn hier nicht ?</span></p>

                </div>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="col-lg-4 col-md-12 mb-4 center">
        </div> <div class="col-lg-4 col-md-12 mb-4 center">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2024/januar/img_20240112_120826.jpg" class="img-fluid rounded card-img" alt="Tastatur" />
                <div class="card-img-overlay text-shadow" style="background-color: rgba(0, 0, 0, 0.3)">
                    <span class="bg-dark rounded shadow box-shadow text-white">
                        <h4 class="card-title text-shadow"><span class="bg-dark rounded shadow box-shadow text-white" style="background-color: rgba(0, 0, 0, 0.5) !important;padding-right:13px;padding-bottom:4px;">Gaming Tastatur mit RGB Beleuchtung</span></h4> <br /> <p><span style="background-color: rgba(0, 0, 0, 0.5) !important; padding-right:5px;padding-left:5px;padding-bottom: 3px;" class="bg-dark rounded shadow box-shadow text-white">Aber die Tasten haben keine Beleuchtung ! <br /> UNSINNIG !!!</span></p>

                </div>
            </div>

        </div>
    </div>
</div>
<br />
<br />

<h2 style="text-align:right">2023</h2>
<h5 style="text-align:right">September</h5>

<br />
<br />
<div class="row">
    <div class="col">
        <div class="box-shadow rounded">
            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2023/september/20230916_144734.jpg" class="img-fluid rounded card-img" alt="Stadtpark" />
                <div class="card-img-overlay text-shadow" style="background-color: rgba(0, 0, 0, 0.3)">
                    <span class="bg-dark rounded shadow box-shadow text-white">
                        <h4 class="card-title text-shadow"><span class="bg-dark rounded shadow box-shadow text-white" style="background-color: rgba(0, 0, 0, 0.5) !important;padding-right:13px;padding-bottom:4px;">Der Stadtpark</span></h4>
                        <br /> <p><span style="background-color: rgba(0, 0, 0, 0.5) !important; padding-right:5px;padding-left:5px;padding-bottom: 3px;" class="bg-dark rounded shadow box-shadow text-white">Ein wirklich sch&ouml;ner Platz in Hamburg !</span></p>

                </div>
            </div>
        </div>
    </div>

    <br />>
    <br />
    <div class="col">
        <div class="box-shadow rounded">

            <div class="card bg-dark text-white" style="max-width: 600px;">
                <img src="~/google photos/2023/september/20230918_133314.jpg" class="img-fluid rounded card-img" alt="Schachbrett" />
                <div class="card-img-overlay text-shadow" style="background-color: rgba(0, 0, 0, 0.3)">
                    <span class="bg-dark rounded shadow box-shadow text-white">
                        <h4 class="card-title text-shadow"><span class="bg-dark rounded shadow box-shadow text-white" style="background-color: rgba(0, 0, 0, 0.5) !important;padding-right:13px;padding-bottom:4px;">Mini Schachbrett Spiel</span></h4>
                        <br /> <p><span style="background-color: rgba(0, 0, 0, 0.5) !important; padding-right:5px;padding-left:5px;padding-bottom: 3px;" class="bg-dark rounded shadow box-shadow text-white">N&uuml;tzlich wenn in Gesellschaft</span></p>

                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<br />

<h5 style="text-align:right">Mai</h5>

<br />
<br />

<div class="row">
    <div class="col">
        <div class="card bg-dark text-white" style="max-width: 600px;">
            <img src="~/google photos/2023/mai/20230507_095822.jpg" class="img-fluid rounded card-img" alt="Tablet" />
            <div class="card-img-overlay text-shadow" style="background-color: rgba(0, 0, 0, 0.3)">
                <span class="bg-dark rounded shadow box-shadow text-white">
                    <h4 class="card-title text-shadow"><span class="bg-dark rounded shadow box-shadow text-white" style="background-color: rgba(0, 0, 0, 0.5) !important;padding-right:13px;padding-bottom:4px;">Mein neues Tablet</span></h4>
                    <br /> <p><span style="background-color: rgba(0, 0, 0, 0.5) !important; padding-right:5px;padding-left:5px;padding-bottom: 3px;" class="bg-dark rounded shadow box-shadow text-white">Microsft Surface Pro 9</span></p>

            </div>
        </div>
    </div>
    
<br />
    <br />
    <div class="col">
        <div class="card bg-dark text-white" style="max-width: 600px;">
            <img src="~/google photos/2023/mai/20230507_133728.jpg" class="img-fluid rounded card-img" alt="S-Bahn" />
            <div class="card-img-overlay text-shadow" style="background-color: rgba(0, 0, 0, 0.3)">
                <span class="bg-dark rounded shadow box-shadow text-white">
                    <h4 class="card-title text-shadow"><span class="bg-dark rounded shadow box-shadow text-white" style="background-color: rgba(0, 0, 0, 0.5) !important;padding-right:13px;padding-bottom:4px;">S-Bahn Hamburg</span></h4>
                    <br /> <p><span style="background-color: rgba(0, 0, 0, 0.5) !important; padding-right:5px;padding-left:5px;padding-bottom: 3px;" class="bg-dark rounded shadow box-shadow text-white">Die gute alte S-Bahn die Mitte der 90er Jahre ausgemustert wurde</span></p>

            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="row">
<div class="col">
    <div class="card bg-dark text-white" style="max-width: 600px;">
        <img src="~/google photos/2023/mai/20230511_201201.jpg" class="img-fluid rounded card-img" alt="St. Pauli Blick auf die Straße" />
        <div class="card-img-overlay text-shadow" style="background-color: rgba(0, 0, 0, 0.3)">
            <span class="bg-dark rounded shadow box-shadow text-white">
                <h4 class="card-title text-shadow"><span class="bg-dark rounded shadow box-shadow text-white" style="background-color: rgba(0, 0, 0, 0.5) !important;padding-right:13px;padding-bottom:4px;">Auf St. Pauli</span></h4>
                <br /> <p><span style="background-color: rgba(0, 0, 0, 0.5) !important; padding-right:5px;padding-left:5px;padding-bottom: 3px;" class="bg-dark rounded shadow box-shadow text-white">Blick auf die Stra&szlig;e</span></p>

        </div>
    </div>
</div>
<div class="col">
    <div class="card bg-dark text-white" style="max-width: 600px;">
        <img src="~/google photos/2023/mai/20230511_201205.jpg" class="img-fluid rounded card-img" alt="St. Pauli Blick auf die Straße 2" />
        <div class="card-img-overlay text-shadow" style="background-color: rgba(0, 0, 0, 0.3)">
            <span class="bg-dark rounded shadow box-shadow text-white">
                <h4 class="card-title text-shadow"><span class="bg-dark rounded shadow box-shadow text-white" style="background-color: rgba(0, 0, 0, 0.5) !important;padding-right:13px;padding-bottom:4px;">Auf St. Pauli</span></h4>
                <br /> <p><span style="background-color: rgba(0, 0, 0, 0.5) !important; padding-right:5px;padding-left:5px;padding-bottom: 3px;" class="bg-dark rounded shadow box-shadow text-white">Blick auf die Stra&szlig;e 2</span></p>

        </div>
    </div>
</div>
    </div>
<br />
<br />
